In [1]:
# objective: code alphabet_data, a list of dicts like {"lower": "a", "upper": "A", "index": 1}
# I'll try coding a list for lowers, one for uppers, and one for range(0,26). 
# Then I'll see if I can make dict to zip together values from the list.
# Or I can see about making a for loop

In [4]:
import string
lowers = list(string.ascii_lowercase)
lowers

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [6]:
uppers = lowers = list(string.ascii_uppercase)
uppers

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [7]:
#I'll try making a function to generate such a dictionary
def alpha_dict(i):
    return {"lower": lowers[i], "upper": uppers[i], "index": i}

In [8]:
alpha_dict(3)

{'lower': 'D', 'upper': 'D', 'index': 3}

In [10]:
#Now I'll try a for loop to generate a list of dictionaries
alphabet_data = []
for j in range(1,26):
    alphabet_data.append(alpha_dict(j))

In [11]:
alphabet_data

[{'lower': 'B', 'upper': 'B', 'index': 1},
 {'lower': 'C', 'upper': 'C', 'index': 2},
 {'lower': 'D', 'upper': 'D', 'index': 3},
 {'lower': 'E', 'upper': 'E', 'index': 4},
 {'lower': 'F', 'upper': 'F', 'index': 5},
 {'lower': 'G', 'upper': 'G', 'index': 6},
 {'lower': 'H', 'upper': 'H', 'index': 7},
 {'lower': 'I', 'upper': 'I', 'index': 8},
 {'lower': 'J', 'upper': 'J', 'index': 9},
 {'lower': 'K', 'upper': 'K', 'index': 10},
 {'lower': 'L', 'upper': 'L', 'index': 11},
 {'lower': 'M', 'upper': 'M', 'index': 12},
 {'lower': 'N', 'upper': 'N', 'index': 13},
 {'lower': 'O', 'upper': 'O', 'index': 14},
 {'lower': 'P', 'upper': 'P', 'index': 15},
 {'lower': 'Q', 'upper': 'Q', 'index': 16},
 {'lower': 'R', 'upper': 'R', 'index': 17},
 {'lower': 'S', 'upper': 'S', 'index': 18},
 {'lower': 'T', 'upper': 'T', 'index': 19},
 {'lower': 'U', 'upper': 'U', 'index': 20},
 {'lower': 'V', 'upper': 'V', 'index': 21},
 {'lower': 'W', 'upper': 'W', 'index': 22},
 {'lower': 'X', 'upper': 'X', 'index': 23},
 {'lower': 'Y', 'upper': 'Y', 'index': 24},
 {'lower': 'Z', 'upper': 'Z', 'index': 25}]

In [12]:
import pandas as pd

In [13]:
alphabet_df = pd.DataFrame(alphabet_data)

In [14]:
alphabet_df

    index lower upper
0       1     B     B
1       2     C     C
2       3     D     D
3       4     E     E
4       5     F     F
5       6     G     G
6       7     H     H
7       8     I     I
8       9     J     J
9      10     K     K
10     11     L     L
11     12     M     M
12     13     N     N
13     14     O     O
14     15     P     P
15     16     Q     Q
16     17     R     R
17     18     S     S
18     19     T     T
19     20     U     U
20     21     V     V
21     22     W     W
22     23     X     X
23     24     Y     Y
24     25     Z     Z